
:root {
    --colorPrimaryColor: #4e65b5;    
    --colorOnPrimaryColor: #f4f7ff;    
    --colorSecondaryColor: #ffe4d4;    
    --colorOnSecondaryColor: #e87777;    
    --colorTertiaryColor: #1c1919;    
    --colorVariantColor: #7d73b9;    
}